{% extends "catalog/base.html" %}
{% block content %}
<h1>Список постов</h1>
<a href="{% url 'blogapp:post_create' %}" class="btn btn-success">Добавить пост</a>
<table class="table mt-3">
    <thead>
        <tr>
            <th>Заголовок</th>
            <th>Контент</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <td><a href="{% url 'blogapp:post_detail' post.pk %}">{{ post.title }}</a></td>
            <td>{{ post.content }} ₽</td>
            <td>
                <a href="{% url 'blogapp:post_edit' post.pk %}" class="btn btn-primary btn-sm">Редактировать</a>
                <a href="{% url 'blogapp:post_delete' post.pk %}" class="btn btn-danger btn-sm">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}