{% extends 'catalog/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>{{ product.name }}</h1>
    {% if product.image %}
        <img class="img-fluid mb-3" src="{{ product.image.url }}" alt="{{ product.name }}" >
    {% endif %}
    <p><strong>Категория:</strong> {{ product.category }}</p>
    <p><strong>Цена:</strong> {{ product.price }} ₽</p>
    <p>{{ product.description }}</p>
    <p><small>Создано: {{ product.created_at }}</small></p>
    <p><small>Изменено: {{ product.updated_at }}</small></p>
</div>
{% endblock %}